* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-variant-ligatures: common-ligatures;
}

h1 {
  font-size: 5.8vw;
  margin-bottom: 1.6rem;
}

h2 {
  font-size: 2vw;
  line-height: 1.5;
}

a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  position: relative;
}

a:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #2d9aed;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.subtitle {
  color: #d7d7d7;
  font-weight: 400;
}

.is-gray {
  color: #515152;
}

.is-inverted {
  color: #fff;
}

.is-centered {
  text-align: center;
}

.has-text-shadow {
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

.mt-1 {
  margin-top: 0.5rem;
}

form {
  padding: 1.6rem 0;
}

input,
button {
  width: 100%;
  padding: 1.3rem 1rem;
  border: none;
}

input {
  color: #fff;
  font-size: 1.1rem;
  background-color: rgba(255, 255, 255, 0.1);
  border-left: 2px solid rgba(255, 255, 255, 0.2);
  border-right: 2px solid rgba(255, 255, 255, 0.2);
}

input:first-of-type {
  border-radius: 0.3rem 0.3rem 0 0;
  border-top: 2px solid rgba(255, 255, 255, 0.1);
}

input:nth-of-type(2) {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-left: 2px solid rgba(255, 255, 255, 0.2);
  border-right: 2px solid rgba(255, 255, 255, 0.2);
}

input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.8);
  font-size: 1.1rem;
}

button {
  background-color: #2d9aed;
  color: #fff;
  font-weight: 800;
  font-size: 1.1rem;
  border-radius: 0 0 0.3rem 0.3rem;
  cursor: pointer;
  transition: background-color .25s ease;
}

button:hover {
  background-color: #25a1ff;
}

button:active {
  background-color: #1d68a1;
}

.hero {
  background-image: url("design/optimized-background.png");
  background-size: cover;
  min-height: 100vh;
  position: relative;
  padding-bottom: 1rem;
}

.hero:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.25;
  background-color: #000;
}

.hero-inner {
  position: relative;
  z-index: 2;
}

.container {
  padding: 0 3rem;
}

header {
  padding: 1.6rem 0;
}

.primary-nav {
  color: #fff;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
}

.primary-nav>ul.is-active {
  display: block;
  position: absolute;
  width: 100vw;
  background-color: #2177b9;
  height: 100vh;
  top: 0;
  left: 0;
  padding: 2rem;
  font-size: 2rem;
  line-height: 2.4;
  z-index: 2;
}

.primary-nav>ul.is-active .modal-menu {
  border-top: 1px solid;
  padding-top: 1.3rem;
  margin: 0 auto;
  display: block;
  list-style-type: none;
  font-size: 1.13rem;
  width: 300px;
  margin-top: 2rem;
}

.primary-nav>ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.logo {
  justify-self: start;
  font-size: 2rem;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  font-weight: 600;
}

.burger {
  justify-self: end;
  cursor: pointer;
  display: block;
  height: 3.25rem;
  position: relative;
  z-index: 3;
  width: 3.25rem;
  margin-left: auto;
}

.burger span {
  background-color: #fff;
  display: block;
  height: 2px;
  left: calc(50% - 8px);
  position: absolute;
  transform-origin: center;
  transition-duration: 200ms;
  transition-property: background-color, opacity, transform;
  transition-timing-function: ease-out;
  width: 16px;
}

.burger span:nth-child(1) {
  top: calc(50% - 6px);
}

.burger span:nth-child(2) {
  top: calc(50% - 1px);
}

.burger span:nth-child(3) {
  top: calc(50% + 4px);
}

.burger:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.burger.is-active {
  position: absolute;
}

.burger.is-active span:nth-child(1) {
  transform: translateY(5px) rotate(45deg);
}

.burger.is-active span:nth-child(2) {
  opacity: 0;
}

.burger.is-active span:nth-child(3) {
  transform: translateY(-5px) rotate(-45deg);
}

.modal-menu {
  display: none;
}

.content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
  grid-gap: 6rem;
  padding: 15vh 3rem 18vh 3rem;
}

footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: end;
  justify-content: end;
}

.footer-nav>ul {
  color: #fff;
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

.footer-nav li {
  padding: 0 1rem;
}

@media (max-width: 1050px) {
  h1 {
    font-size: 5.3vw;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 22px;
  }

  h3 {
    margin-top: 4rem;
  }

  .container {
    padding: 0 1.3rem;
  }

  .content {
    display: block;
    padding: 40px 0rem;
  }

  .primary-nav {
    grid-template-columns: repeat(2, 1fr);
  }

  .primary-nav>ul {
    display: none;
  }

  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer-nav>ul {
    display: block;
    text-align: center;
  }

  .footer-nav>ul>li {
    padding: 0.6rem 0;
  }

  .copyright {
    order: 2;
    margin-top: 2rem;
  }
}
